<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/biografia.css">
    <title>Eladio Carrion</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Discografia.html">Discografía</a></li>
            <li><a href="">Sencillos</a></li>
            <li><a href="infografia.html">Infografía</a></li>
        </ul>
    </nav>
    <section id="info">

        <div class="contenedor-foto">
            <img src="../imgs/eladio.jpg" alt="" >
        </div>

        <div class="info">
            <h2>Biografia Eladio Carrion</h2>
            <p>Eladio Carrion es un rapero y cantante puertorriqueño nacido el 4 de septiembre de 1994 en Carolina, Puerto Rico. Desde joven, estuvo interesado en la música y comenzó a escribir y grabar sus propias canciones en su adolescencia.
            <br>
            En 2013, Eladio se mudó a Orlando, Florida para continuar su carrera musical. Allí, comenzó a trabajar con el productor musical Chriz J y lanzó su primer mixtape, "El Hombre de las Mil Virtudes", en 2014.
            <br>
            En 2017, Eladio firmó con la discográfica Rimas Entertainment y lanzó su sencillo debut "Mi Error". Desde entonces, ha lanzado varios éxitos como "Kemba Walker", "La Jeepeta", "Egoísta", "Tata" y "Nena Buena".
            <br>
            En su carrera, Eladio Carrion ha colaborado con varios artistas como Bad Bunny, J Balvin, Daddy Yankee, Ozuna y muchos más. Su estilo musical se caracteriza por la fusión del rap, el reggaetón y la música latina.
            <br>
            Además de su carrera musical, Eladio también es conocido por su labor social. En 2020, durante la pandemia de COVID-19, lanzó el proyecto "Eladio Ayuda", en el que donó alimentos y suministros a las personas necesitadas en Puerto Rico, Eladio Carrion es un rapero y cantante puertorriqueño exitoso, conocido por su estilo musical innovador y su compromiso con la comunidad.</p>
        </div>

    </section>
    <footer>
        <div class="footer-content">
            <h3>Eladio Carrión</h3>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 Derechos Reservados</p>
        </div>
    </footer>
</body>
</html>