<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/infografia.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>infografía</title>
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Discografia.html">Discografía</a></li>
            <li><a href="">Sencillos</a></li>
            <li><a href="Infografia.html">Infografía</a></li>
        </ul>
    </nav>
    <div class="fondo">
        <div class="contenedor-tittle">
            <h1>Infografa sobre los frameworks</h1> 
        </div> 
        <div class="contenedor-img">  
                    
            <img src="../imgs/frame.png" alt="">
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <h3>Eladio Carrión</h3>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2023 Derechos Reservados</p>
        </div>
    </footer>   
</body>
</html>