@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800);

body {
    background: url(https://s3.eu-west-2.amazonaws.com/pirolab/images/grad-bg.png) no-repeat center center/cover #3F497F;
    font-family: Nunito Sans, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 95%;
    line-height: 1.2;
}

* {
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    font-weight: 400;
    color: #999;
}

.a-container {
    width: 90%;
    margin: 30px auto;
    padding: 20px 0;
    margin-top: 5rem;
}

.o-card_container {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.o-card_container.isOpen {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.o-card {
    width: 100%;
    min-width: 300px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    overflow: hidden;
    margin: 20px 0;
    transition: all 0.4s;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    padding: 0;
    align-self: center;
}

.o-card.isOpenIng {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: 100000 !important;
}

.o-card.isOpen {
    transform-origin: center top;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0 40px rgba(0, 0, 0, 0.3) !important;
    opacity: 1;
}

.o-card::before {
    content: "";
    top: 0;
    right: auto;
    bottom: auto;
    left: 50%;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    z-index: 1111;
    transition: all 0.4s;
}

.a-loader {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 12000000;
    margin: 0;
    width: 100%;
    height: 6px;
    background-color: #fdba2c;
    display: none;
}

.a-loader__bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.a-loader__bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 1s linear infinite;
}

.a-loader__bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 1s linear 0.3s infinite;
}

.a-loader__bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 1s linear 0.6s infinite;
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}

.o-modal {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 70%);
    transition: all 1s;
    z-index: 1111110;
    padding: 15px;
    opacity: 0;
}

.o-modal::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    margin: 0px 0 0 -5px;
    height: 10px;
    transform-origin: center;
    background: rgba(255, 255, 255, 0.97);
    transition: all 1s;
    z-index: 1;
    border-radius: 50%;
}

.o-modal.isOpen {
    width: 100%;
    height: 100%;
    opacity: 1;
    left: 0;
    transform: translate(0, 0);
}

.o-modal.isOpen::after {
    width: 1000px;
    height: 1000px;
    left: 50%;
    margin: -500px 0 0 -500px;
}

.o-modal__close {
    position: absolute;
    top: -1500px;
    right: 5px;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
    z-index: 5;
    transition: all 1s;
}

.o-modal.isOpen .o-modal__close {
    top: 5px;
}

.o-modal__title {
    font-size: 1.8rem;
    background: none;
    font-weight: 600;
    display: block;
    line-height: 1;
    margin: -15px -15px 0 -15px;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 4;
}

.o-modal__inner {
    overflow-y: auto;
    height: calc(100% - 40px);
    opacity: 0;
    padding: 5px;
    transition: all 1.4s;
    position: relative;
    z-index: 4;
}

.o-modal.isOpen .o-modal__inner {
    opacity: 1;
    transition-delay: 1.4s;
}

.o-card_header {
    position: relative;
    width: 100%;
    height: 180px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.7s;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 360px;
}

.o-card_header::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: -2%;
    width: 104%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1220;
    transform: skew(0, -3deg);
    transition: all 0.6s;
}

.o-card_header::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: -2%;
    width: 104%;
    height: 30px;
    background-color: #F8F5E4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    z-index: 1221;
    transform: skew(0, 2deg);
    transition: all 0.6s;
}

.o-card_headerHeroImg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: 0.4s;
    transform-origin: center center;
    transform: scale(1, 1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.o-card_headerHeroImg::after {
    content: "";
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    background: black;
    transform: skew(0, 2deg);
    transition: 0.4s;
    opacity: 0;
}

.o-card_logo {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 80px;
    box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    top: 10px;
    left: 10px;
    transform-origin: center center;
    transform: translate(0, 0) scale(1, 1);
    overflow: hidden;
    background-size: cover !important;
}

.o-card_logo.isOpen {
    /*box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.5);*/
    box-shadow: 0 0 0 800px rgba(255, 255, 255, 0.6);
    transform: translate(-140%, 0) scale(1, 1);
}

.o-card:hover .o-card_logo {
    transform: translate(0, 0) scale(0.8, 0.8);
}

.o-card:hover .o-card_logo.isOpen {
    transform: translate(-140%, 0) scale(1, 1);
}

.o-card-headerList {
    width: 100%;
    height: auto;
    transition: all 0.4s;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    border-spacing: 5px;
    list-style: none;
}

.o-card-headerList--openIcons {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 40px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    background: rgba(0, 0, 0, 0.3);
    z-index: 6;
    cursor: pointer;
    transition: all 0.4s;
}

.o-card-headerList--openIcons span {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -3px;
    width: 6px;
    height: 6px;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.8s;
    transform-origin: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

.o-card-headerList--openIcons span:nth-child(1) {
    top: 6px;
}

.o-card-headerList--openIcons span:nth-child(2) {
    top: 17px;
}

.o-card-headerList--openIcons span:nth-child(3) {
    top: 28px;
}

.o-card-headerList.isOpen .o-card-headerList--openIcons {
    width: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

.o-card-headerList.isOpen .o-card-headerList--openIcons span {
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    margin: 0 0 0 -13px;
    top: 20px;
}

.o-card-headerList.isOpen .o-card-headerList--openIcons span:nth-child(1) {
    width: 26px;
    height: 2px;
    transform: rotate(45deg);
}

.o-card-headerList.isOpen .o-card-headerList--openIcons span:nth-child(2) {
    opacity: 0;
    left: -250%;
}

.o-card-headerList.isOpen .o-card-headerList--openIcons span:nth-child(3) {
    width: 26px;
    height: 2px;
    transform: rotate(-45deg);
}

.o-card-headerList--item {
    position: absolute;
    top: 10px;
    right: 0;
    width: 40px;
    height: 40px;
    transform: scale(0.15, 0.15);
    line-height: 40px;
    text-align: center;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    transition: all 0.4s;
    opacity: 1;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.o-card-headerList.isOpen .o-card-headerList--item {
    opacity: 1;
    transform: scale(1, 1);
}

.o-card-headerList.isOpen .o-card-headerList--item:nth-child(2) {
    right: 55px;
    transition-delay: 0.1s;
}

.o-card-headerList.isOpen .o-card-headerList--item:nth-child(3) {
    right: 100px;
    transition-delay: 0.15s;
}

.o-card-headerList.isOpen .o-card-headerList--item:nth-child(4) {
    right: 145px;
    transition-delay: 0.2s;
}

.o-card-headerList.isOpen .o-card-headerList--item:nth-child(5) {
    right: 190px;
    transition-delay: 0.25s;
}

.o-card-headerList--item:hover {
    background: #109bce;
    color: white;
}

.o-card-headerList--link {
    color: #555;
    font-size: 1rem;
    transition: all 0.3s;
    display: block;
}

.o-card-headerList--link:hover {
    color: #fff;
    transform: scale(1.2, 1.2);
}

.o-card_body {
    width: 100%;
    height: auto;
    display: block;
    margin: -5px 0 0 0;
    padding: 0 30px 30px 30px;
    position: relative;
    background: #F8F5E4;
    transition: all 0.3s;
}

.o-card_title,
.o-card_subTitle {
    margin: 0;
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 1.4rem;
    font-weight: 400;
}

.o-card_title {
    font-size: 1.8rem;
    background: none;
    font-weight: 600;
    display: block;
}

.o-card_paragraph {
    margin: 0;
    padding: 5px;
    font-size: 0.9rem;
    line-height: 1.3;
    transition: all 0.4s;
    opacity: 1;
    position: relative;
    max-height: 3rem;
    overflow: hidden;
}

.o-card_paragraph::after {
    content: "";
    width: 100%;
    max-height: 200rem;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3rem;
    background: -webkit-linear-gradient(90deg, #f9f9f9 0, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg, #f9f9f9 0, rgba(255, 255, 255, 0) 100%);
}

.o-card_paragraph.isToggle {
    max-height: 500px;
}

.o-card_paragraph.isToggle::after {
    background: none;
}

.a-more {
    color: #ccc;
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    bottom: 25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.5s;
}

.a-more::after {
    content: "➕";
    font-family: entypo;
}

.a-more.isActive::after {
    content: "➖";
}

.a-more:hover {
    transform: scale(1.2, 1.2);
    color: #109bce;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.o-card.isOpen .o-card_subTitle,
.o-card.isOpen .o-card_paragraph {
    display: block;
}

.o-card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 10px 15px rgba(0, 0, 0, 0.1);
}

.o-card:hover .o-card_headerHeroImg {
    transform: scale(1.2) rotate(-2deg);
    opacity: 1;
}

.o-card:hover .o-card_headerHeroImg::after {
    opacity: 0.4;
}

.o-card.isOpen .o-card_header {
    height: 150px;
}

.o-card.isOpen .o-card_headerHeroImg {
    transform: scale(1, 1);
    opacity: 1;
}

.o-card.isOpen .o-card_logo {
    top: 10%;
    transform: translate(0, 0) scale(1, 1);
}

.o-card.isOpen::before {
    width: 100%;
    left: 0;
}

.o-card:hover::before {
    width: 100%;
    left: 0;
}


/*.o-card:hover::before{height: 100%; top: 0;}*/
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 2.5rem;
    }

    .a-container {
        width: 1170px;
    }

    .o-card {
        width: 31.3333%;
        margin: 20px 1%;
    }

    .o-card-headerList::before {
        bottom: -15px;
        border-width: 0 0 15px 400px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    h1 {
        font-size: 2rem;
    }

    .a-container {
        width: 100%;
    }

    .o-card {
        width: 48%;
        margin: 20px 1%;
    }
}

.o-card_footer {
    width: 100%;
    background: #f1f1f1;
    padding: 10px 10px 20px 10px;
    text-align: right;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.o-card_footer::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #f1f1f1;
    z-index: 1;
    transform: skew(0, -2deg);
    transition: all 0.6s;
}

.a-readMore {
    width: 100%;
    height: auto;
    display: inline-block;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 0px #3F497F;
    padding: 15px 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    position: relative;
    cursor: pointer;
    z-index: 3;
    border: none;
    background: #F7C04A;
    box-shadow: inset 0px 1px 0px #F8F5E4, 0px 1px 0px 0px #F7C04A, 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.a-readMore:hover,
.a-readMore:active {
    top: 0;
    box-shadow: inset 0px 1px 0px #109bce, 0px 2px 0px 0px #07526e, 0px 4px 1px rgba(0, 0, 0, 0.2);
}

.o-wtfModal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -300px;
    opacity: 1;
    background: url(https://s3.eu-west-2.amazonaws.com/pirolab/images/circle.svg) no-repeat;
    background-position: center -10px;
    background-size: 300px 300px;
    opacity: 0.5;
    z-index: 100000;
    transition: all 0.5s;
    display: none;
}

.o-wtfModal.isOpenIng {
    display: block;
}

.o-wtfModal.isOpen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    background-position: center center;
    background-size: 500% 500%;
}

.o-wtfModal_close {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 46px;
    height: 46px;
    text-align: center;
    font-size: 4rem;
    color: #109bce;
    opacity: 0;
    transition: all 1s;
    cursor: pointer;
}

.o-wtfModal_close::before,
.o-wtfModal_close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    text-align: center;
    font-size: 4rem;
    background: #109bce;
    transform: rotate(0) translate(0, -50%);
    transition: all 0.5s;
}

@media screen and (min-width: 768px) {
    .o-wtfModal_close {
        width: 66px;
        height: 66px;
    }
}

.o-wtfModal.isOpen .o-wtfModal_close {
    opacity: 1;
}

.o-wtfModal.isOpen .o-wtfModal_close::after {
    transform: rotate(-45deg);
    width: 100%;
}

.o-wtfModal.isOpen .o-wtfModal_close::before {
    transform: rotate(45deg);
    width: 100%;
}

.o-wtfModal.isOpen .o-wtfModal_close:hover {
    transform: scale(0.8, 0.8);
}

@font-face {
    font-family: "entypo";
    src: url("https://s3.eu-west-2.amazonaws.com/pirolab/icons/entypo.eot");
    src: url("https://s3.eu-west-2.amazonaws.com/pirolab/icons/entypo.eot?#iefix") format("embedded-opentype"), url("https://s3.eu-west-2.amazonaws.com/pirolab/icons/entypo.woff") format("woff"), url("https://s3.eu-west-2.amazonaws.com/pirolab/icons/entypo.ttf") format("truetype"), url("https://s3.eu-west-2.amazonaws.com/pirolab/icons/entypo.svg#entypo") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^=icon-],
[class*=" icon-"] {
    font-family: entypo;
    font-style: normal;
    /* font-size: 14px; */
    display: inline-block;
    width: 1.1em;
    margin-right: 0.1em;
    text-align: center;
}

.the-icons li {
    font-size: 14px;
    line-height: 24px;
    height: 24px;
}

/* '\2715' */
.icon-cancel-circled:before {
    content: "✖";
}

/* '\2b05' */
.icon-right:before {
    content: "➡";
}

